@model ValidationLab3.Models.Data
@{
    ViewData["Title"] = "Form";
}

<form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name">Your Name</label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Email">Your Email</label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Subject">Add Subject</label>
        <input asp-for="Subject" />
    </div>

    <div>
        <label asp-for="Message">Your Message</label>
        <input asp-for="Message" />
    </div>

    <div>
        <input type="submit" />
    </div>
</form>

